
<div class="main-container" >
  <mat-toolbar color="primary" class="topbar telative">

    <button mat-button [routerLink]="['/dashboard']">Home</button>
    <button mat-button [routerLink]="['/search']">Search</button>
    <button mat-button [routerLink]="['/store']">Store Vehicle</button>

  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container" >

    <mat-sidenav-content class="page-wrapper">

      <div class="page-content">

        <router-outlet>
        </router-outlet>

      </div>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
